
body{
    background-color:  hsl(0, 0%, 95%)
    ;
}
.container{
    display: flex;
    flex-direction: row;
    width:70%;
    margin:50px auto;
    border-radius: 15px;
    height: auto;
    overflow: hidden;

}
.child{
    padding: 20px;
}
#one{
    background-color: hsl(31, 77%, 52%);
}
#two{
    background-color: hsl(184, 100%, 22%);
}
h1{
    color:  hsl(0, 0%, 95%)
    ;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
}
#three{
    background-color: hsl(179, 100%, 13%);
}
.color-1{
    color: hsl(31, 77%, 52%);
}
.color-2{
    color: hsl(184, 100%, 22%);
}
.color-3{
    color: hsl(179, 100%, 13%);
}
a{
    text-decoration: none;
}
button{
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}

